ext/rule_tagger/Makefile
ext/rule_tagger/darray.o
ext/rule_tagger/lex.o
ext/rule_tagger/memory.o
ext/rule_tagger/mkmf.log
ext/rule_tagger/rbtagger.o
ext/rule_tagger/registry.o
ext/rule_tagger/rule_tagger.bundle
ext/rule_tagger/rules.o
ext/rule_tagger/tagger.o
ext/rule_tagger/useful.o
lib/rule_tagger.bundle
ext/rule_tagger/rule_tagger.so
lib/rule_tagger.so
ext/word_tagger/porter_stemmer.o
ext/word_tagger/rtagger.bundle
ext/word_tagger/rtagger.o
ext/word_tagger/tagger.o
ext/word_tagger/test/porter_stemmer.c
ext/word_tagger/test/porter_stemmer.h
ext/word_tagger/test/porter_stemmer.o
ext/word_tagger/test/tagger.cc
ext/word_tagger/test/tagger.h
ext/word_tagger/test/tagger.o
ext/word_tagger/test/test.o
ext/word_tagger/test/testit
ext/word_tagger/mkmf.log
ext/word_tagger/rtagger.so
ext/word_tagger/Makefile
